---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Body from '@components/Body.astro';
import CalendarIcon from '@components/CalendarIcon.astro';

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
    (a, b) =>
        new Date(b.frontmatter.pubDate).valueOf() -
        new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang='en'>
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <Body>
        <Header title={SITE_TITLE} />
        <main
            class='antialiased mx-auto p-4 sm:max-w-lg md:max-w-xl lg:max-w-2xl xl:max-w-4xl 2xl:max-w-6xl'
        >
            <section
                class='flex flex-col items-center justify-center gap-4 mx-auto'
            >
                {
                    posts.map((post) => (
                        <a class='relative block group w-full' href={post.url}>
                            <span
                                class='absolute inset-0 border-2 border-neutral-500 border-dashed rounded-lg'
                                aria-hidden='true'
                            />
                            <div class='transition bg-white border-2 border-neutral-500 rounded-lg group-hover:-translate-x-2 group-hover:-translate-y-2 dark:bg-gray-800 px-4 py-6 space-y-0.5'>
                                <p class='text-lg font-medium text-gray-700 dark:text-gray-200'>
                                    {post.frontmatter.title}
                                </p>
                                <div class='flex items-center justify-start gap-1'>
                                    <CalendarIcon />
                                    <time
                                        datetime={post.frontmatter.pubDate}
                                        class='mt-1 text-sm dark:text-gray-400'
                                    >
                                        {new Date(
                                            post.frontmatter.pubDate
                                        ).toLocaleDateString('en-us', {
                                            year: 'numeric',
                                            month: 'short',
                                            day: 'numeric',
                                        })}
                                    </time>
                                </div>
                                <p class='flex-[0_0_130px] italic text-gray-500'>
                                    {post.frontmatter.description}
                                </p>
                            </div>
                        </a>
                    ))
                }
            </section>
        </main>
        <Footer />
    </Body>
</html>
